@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
  }

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

body::-webkit-scrollbar-thumb {
    border-radius: 8px;
  border: 3px solid transparent;
   background-clip: content-box;
    background-color: #d55959;
}
@-webkit-keyframes bounce { 
    from { 
        -webkit-transform: translate3d(0, 0, 0); 
        transform: translate3d(0, 0, 0); 
    } 
    to { 
        -webkit-transform: translate3d(0, 6px, 0); 
        transform: translate3d(0, 6px, 0); 
    } 
} 



.oxanium {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
}

ol li::before {content: "•"; color: white;
    display: inline-block; width: 1em;
    margin-left: -1em
}

ul.css-6hp17o-MuiList-root-MuiMenu-list{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}    